# code editor config/local files
.idea/
.vs/

# emit compiled C# binaries and build artifacts
bin/
obj/

# user-specific project configuration
*.user

# npm/node stuff for tailwindcss
# just experimenting with tailwind here, these do not have to stay in the final version - Robert
node_modules/
package-lock.json